<ion-header>
  <ion-grid id='headgrid'>
    <ion-row>
      <ion-col>
        <ion-toolbar color = 'lightgray'>
          <ion-buttons slot="start">
            <ion-menu-button id='rayitas'></ion-menu-button>
          </ion-buttons>
          <ion-title id='title' class="ion-text-start"><b>{{ folder }}</b></ion-title>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row id = 'rowtimer'>
      <ion-col id = 'coltimer'>
        <h1 id='timertxt'>{{timerservice.time}}</h1>
      </ion-col>
    </ion-row>
    <ion-row id= 'rowcontent'>
      <ion-col id='colcontent'>
        <div>
          <ion-button *ngIf="aclsService.step === 0"
          id="startButton" (click)="start()" color={{bannercolor}} expand="block" shape="round" size="large">Start {{bannermessage}}</ion-button>
        </div>
        <div *ngIf="aclsService.shockeableRhythmsStep(aclsService.step)">
          <h1><b>Shock!</b></h1><br>
          <p>
            <b>Biphasic:</b> Manufacturer recommendation or max available<br>
            <b>Monophasic:</b> 360J
          </p>
          <ion-button (click)="aclsService.giveShockConfirmation(aclsService.step)" 
            color="danger"
            expand="block" 
            shape="round">Shock Given</ion-button>
        </div>
        <div *ngIf="aclsService.step === 4">
          <h1><b>CPR 2 min</b></h1><br>
          <h3>IV/IO access</h3>
        </div>
        <div *ngIf="aclsService.step === 6">
          <h1><b>CPR 2 min</b></h1><br>
          <h3><strong>Epinephrine 1mg</strong></h3><br>
          <ion-button (click)="aclsService.drugAdmin('epi')" 
            [disabled]="aclsService.disableButton"
            color={{bannercolor}}
            expand="block" 
            shape="round">Confirm Epinephine 1mg</ion-button>
          <h3>Consider advanced airway, capnography</h3>
        </div>
        <div *ngIf="aclsService.step === 8">
          <h1><b>CPR 2 min</b></h1><br>
          <h3><strong>Amiodarone {{aclsService.doseAmio}} or Lidocaine {{aclsService.doseLido}}</strong></h3><br>
          <ion-button 
            *ngIf="this.aclsService.selectedDrug !== 'Lidocaine'"
            (click)="aclsService.drugAdmin('Amiodarone')" 
            [disabled]="aclsService.disableButton"
            color={{bannercolor}}
            expand="block" 
            shape="round">Confirm Amiodarone {{aclsService.doseAmio}}</ion-button>
          <br>
          <ion-button 
            *ngIf="this.aclsService.selectedDrug !== 'Amiodarone'" 
            (click)="aclsService.drugAdmin('Lidocaine')" 
            [disabled]="aclsService.disableButton"
            color={{bannercolor}}
            expand="block" 
            shape="round">Confirm Lidocaine {{aclsService.doseLido}}</ion-button>
        </div>
        <div *ngIf="aclsService.step === 10">
          <h1><b>CPR 2 min</b></h1><br>
          <h3><strong>Epinephrine 1mg</strong></h3>
          <ion-button (click)="aclsService.drugAdmin('epi')" 
          [disabled]="aclsService.disableButton"
          color={{bannercolor}}
          expand="block" 
          shape="round">Confirm Epinephine 1mg</ion-button>
          <h3>Consider advanced airway, capnography</h3>
        </div>
        <div *ngIf="aclsService.step === 11">
          <h1><b>CPR 2 min</b></h1><br>
          <h3>Treat reversible causes</h3>
        </div>
        <div *ngIf="aclsService.step === 12">
          <h1><b>Well Done!</b></h1><br>
          <h3>Do post-cardiac arrest care</h3>
        </div>
      </ion-col>
  </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border" id ='footer' [translucent]='true'>
  <ion-toolbar color='rgb(240, 248, 241)'>
    <div *ngIf= 'aclsService.step !== 0' class="ion-text-start" transparent>
      <p><b>Totals</b></p>
      <p class="color-white font-lg" transparent>
        Shocks: {{eventregister.shockDict.length}}<br>
        Epinephrine: {{eventregister.epiDict.length}} doses<br>
        Antiarrhythmic: {{eventregister.antiarrDict.length}} doses ({{aclsService.selectedDrug}})
      </p>
    </div>

    <ion-button (click)="stopButtonPressed()"
    *ngIf = "aclsService.showStopButton === true"
    color="success"
    expand="full" 
    shape="round">End CPR</ion-button>

  </ion-toolbar>
</ion-footer>
