
<ion-header>
  <ion-grid id='headgrid'>
    <ion-row>
      <ion-col>
        <ion-toolbar color = 'lightgray'>
          <ion-buttons slot="start">
            <ion-menu-button id='rayitas'></ion-menu-button>
          </ion-buttons>
          <ion-title id='title' class="ion-text-start"><b>Statistics</b></ion-title>
        </ion-toolbar>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true" id='content'>
  <ion-grid>
    <ion-row>
      <ion-col>
        <div [hidden] = "patient">
          <ion-card>
            <ion-card-header>
              <ion-card-title>Available registers</ion-card-title>
              <ion-card-subtitle>Comparison over the total number of registers and their information</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
          <ion-card >
            <ion-card-content>
              <canvas #registerChart width="1000" height="1000"></canvas>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-header>
              <ion-card-title>Personal Statistics</ion-card-title>
              <ion-card-subtitle>These statistics are based on the records' information</ion-card-subtitle>
            </ion-card-header>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-card-title>Age</ion-card-title>
              <canvas #ageChart width="1000" height="1000"></canvas>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-card-title>Gender</ion-card-title>
              <canvas #genderChart width="1000" height="1000"></canvas>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-card-title>Race</ion-card-title>
              <canvas #raceChart width="1000" height="1000"></canvas>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-card-title>First arrest rhythm</ion-card-title>
              <canvas #rhythmChart width="1000" height="1000"></canvas>
            </ion-card-content>
          </ion-card>
          <ion-card>
            <ion-card-content>
              <ion-card-title>ROSC</ion-card-title>
              <ion-card-subtitle>Return of spontaneous circulation</ion-card-subtitle>
              <canvas #roscChart width="1000" height="1000"></canvas>
              <ion-text><br>Survival Rate: {{graphcalc.survivalRate}}
                <span *ngIf = "graphcalc.survivalRate !== 'No data entered'">%</span>
              </ion-text>
            </ion-card-content>
          </ion-card>
        </div>
        <ion-card [hidden] = "personal">
          <ion-card-header>
            <ion-card-title>Personal Rates</ion-card-title>
            <ion-card-subtitle>Personal statistics* according to national tendencies</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <canvas #nationalChart width="1000" height="1000"></canvas>
          </ion-card-content>
          <ion-note>*Considers entries with complete information</ion-note><br>
          <ion-note>**Expected survival probability based on patient's factors</ion-note>
        </ion-card>
        <ion-card [hidden] = "personal">
          <div [hidden] = "!congratulate">
            <ion-card-header color = 'success'>Congratulations!</ion-card-header>
            <ion-card-content>
              According to this information, the survival rate you've achieved is greater than the 
              expected for these patient's
            </ion-card-content>
          </div>
          <div [hidden] = "congratulate">
            <ion-card-header color = 'danger'>Results:</ion-card-header>
            <ion-card-content>
              According to this information, the survival rate you've achieved is worse than the 
              expected for these patient's
            </ion-card-content>
          </div>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>

<ion-toolbar>
  <ion-tabs id='tabs'>
    <ion-tab-bar slot="bottom">
      <ion-tab-button (click)= "selectChart('patient')">
        <ion-icon name="person"></ion-icon>
        <ion-label>Patients statistics</ion-label>
      </ion-tab-button>
      <ion-tab-button>
        <ion-icon name="globe" (click)= "selectChart('personal')"></ion-icon>
        <ion-label>Personal rates</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-toolbar>
  
</ion-footer>
