#container {
    text-align: center;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
    color: #8c8c8c;
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  #rayitas{
    color: whitesmoke;
  }
  #title{
    color: whitesmoke;
    font-size: x-large;
  }
  #headgrid{
    background-color: black;
  }
  ion-select{
    width: 100% !important;
    max-width: 100% !important;
  }
  ion-card{
    background-color: white;
  }
  ion-tabs{
    --ion-background-color: black
  }
  ion-icon, ion-label{
    color: white
  }

  #infotxt{
    font-size: larger;
    color: lightgray;
  }
  #content{
    text-align: center;
  }


  