<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>{{ folder }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">{{ folder }}</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button *ngIf="aclsService.step === 0"
    (click)="start()" color="success" expand="block" shape="round" size="large">Start</ion-button>
    <div *ngIf="aclsService.step === 3 || aclsService.step===5 || aclsService.step==7">
      <p>:</p><br>
      <h1><b>Shock!</b></h1><br>
      <p><b>Biphasic:</b> Manufacturer recommendation or max available<br>
        <b>Monophasic:</b> 360J
      </p>
      <ion-button (click)="aclsService.giveShock(aclsService.step)" 
        color="danger"
        expand="block" 
        shape="round">Shock Given</ion-button>
    </div>
    <div *ngIf="aclsService.step === 4">
      <p>Step 4:</p><br>
      <h1><b>CPR 2 min</b></h1><br>
      <h3>IV/IO access</h3>
    </div>
    <div *ngIf="aclsService.step === 6">
      <p>Step 6:</p><br>
      <h1><b>CPR 2 min</b></h1><br>
      <h3>Epinephrine 1mg</h3><br>
      <ion-button (click)="aclsService.drugAdmin('epi')" 
        [disabled]="aclsService.disableButton"
        color="success"
        expand="block" 
        shape="round">Confirm Epinephine 1mg administration</ion-button>
      <h3>Consider advanced airway, capnography</h3>
    </div>
    <div *ngIf="aclsService.step === 8">
      <p>Step 8:</p><br>
      <h1><b>CPR 2 min</b></h1><br>
      <h3>Amiodarone {{aclsService.doseAmio}} or Lidocaine {{aclsService.doseLido}}</h3><br>
      <ion-button 
        *ngIf="this.aclsService.selectedDrug !== 'lido'"
        (click)="aclsService.drugAdmin('amio')" 
        [disabled]="aclsService.disableButton"
        color="success"
        expand="block" 
        shape="round">Confirm Amiodarone {{aclsService.doseAmio}} administration</ion-button>
      <br>
      <ion-button 
        *ngIf="this.aclsService.selectedDrug !== 'amio'" 
        (click)="aclsService.drugAdmin('lido')" 
        [disabled]="aclsService.disableButton"
        color="success"
        expand="block" 
        shape="round">Confirm Lidocaine {{aclsService.doseLido}} administration</ion-button>
    </div>
    <div *ngIf="aclsService.step === 10">
      <p>Step 10:</p><br>
      <h1><b>CPR 2 min</b></h1><br>
      <h3>Epinephrine 1mg</h3>
      <ion-button (click)="aclsService.drugAdmin('epi')" 
      [disabled]="aclsService.disableButton"
      color="success"
      expand="block" 
      shape="round">Confirm Epinephine 1mg administration</ion-button>
      <h3>Consider advanced airway, capnography</h3>
    </div>
    <div *ngIf="aclsService.step === 11">
      <p>Step 11:</p><br>
      <h1><b>CPR 2 min</b></h1><br>
      <h3>Treat reversible causes</h3>
    </div>
    <div *ngIf="aclsService.step === 12">
      <p>Step 12:</p><br>
      <h1><b>Well Done!</b></h1><br>
      <h3>Do post-cardiac arrest care</h3></div>
  </div>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <div class="ion-text-end">
    <ion-title>Time:</ion-title>
    <h1 text-center class="color-white font-lg">
      {{timerservice.time}}
    </h1>
  </div>
  </ion-toolbar>
  <ion-button (click)="stopButtonPressed()"
  *ngIf = "aclsService.showStopButton == true"
  color="success"
  expand="block" 
  shape="round">End CPR</ion-button>
</ion-footer>
